{% extends 'base.html' %}
{% block title %} Lista de Produtos {% endblock %}
{% block content %}

<div class="flex justify-center mb-8">
    <form hx-get="{% url 'search_products' %}" hx-target="#product-table"
        hx-trigger="keyup changed delay:300ms from:#search, change from:select" hx-indicator="#loading-indicator"
        onsubmit="return false" class="join w-full max-w-lg">

        <input id="search" name="search" type="text" placeholder="Digite para buscar produto..."
            class="input join-item w-full rounded-lg border-gray-300 focus:ring-2 focus:ring-red-800 text-center">

        <select name="filter" class="select join-item border-gray-300 focus:ring-2 focus:ring-red-800"
            hx-get="{% url 'search_products' %}" hx-target="#product-table" hx-trigger="change"
            hx-include="[name='search']">
            <option value="" disabled selected>Filtrar por...</option>
            <option value="estoque_baixo">Estoque Baixo</option>
            <option value="estoque_alto">Estoque Alto</option>
            <option value="maior_preco">Maior Preço</option>
            <option value="menor_preco">Menor Preço</option>
        </select>
    </form>
</div>

<div id="product-table" hx-get="{% url 'search_products' %}" hx-trigger="load" hx-swap="innerHTML"></div>

<div id="modal-container"></div>

<div id="loading-indicator" class="hidden flex-col items-center text-gray-500 mt-6 animate-pulse">
    <span class="loading loading-spinner loading-md text-red-800"></span>
    <p class="mt-2 text-sm font-medium">Carregando produtos...</p>
</div>

<div id="modal-container"></div>

{% endblock %}